html {
    margin: 0;
}

.row {
    margin-top: 2rem;
}

.col-1 {
    width: -moz-fit-content;
    width: fit-content;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Poppins&display=swap');

nav {
    position: relative;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

nav ul {
    margin: 0 0 0 2rem;
}

nav ul li {
    margin: 0 .7rem 0 .5rem
}

nav .nav-title a {
    color: white;
    margin: 0 2.5rem 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .07rem;
    text-decoration: none;
}

.fs-4.mb-3 {
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.col-1.col-form-label {
    /* font-family: 'Lato', sans-serif; */
    font-weight: 500;
}
