nav {
    position: relative;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

nav ul {
    margin: 0 0 0 2rem;
}

nav ul li {
    margin: 0 .7rem 0 .5rem
}


nav .nav-title a {
    color: white;
    margin: 0 2.5rem 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .07rem;
    text-decoration: none;
}

.container .text-center.my-3 {
    font-family: 'Montserrat', sans-serif;
}

.container .card-title {
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}